<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

    <applicationSettings>
        <Presentation.Properties.Settings>
            <setting name="waeachmsgpausecant" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="wafullname" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="waevitblock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wasenddt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wasendmanymsg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="smseachmsgpausecant" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="smsfullname" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="smsevitblock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="smssenddt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="smssendmanymsg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="waseveralpausecant" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="smsseveralpausecant" serializeAs="String">
                <value>300</value>
            </setting>
        </Presentation.Properties.Settings>
    </applicationSettings>
</configuration>
